body{
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pro-sidebar {
  background-color: whitesmoke;
  color: white;
  position: fixed;
  }
.pro-menu-item {
  padding: 10px;
}
.pro-menu-item:hover {
  background-color: rgb(67 56 202 / var(--tw-bg-opacity))
}

  



